@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #0f0f0f;
}

body {
  // background-image: url('../public/images/new-background.png');
  // background-size: cover;
  // background-position: center;
  background-color: #fada5e;
}

// colour candidates + for abstract shapes for background
// 347FC4 steel blue, F9CFF2 mimi pink, F2545B indian red, A5C4D4 columbia blue, 
// #F4D06F jasmine, 

// best candidates: #EAD94C, #F4D06F, #FF9F1C

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  grid-area: navbar;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  margin-top: 1em;
  .navbar-text {
    display: flex;
    gap: 4rem;
  }
  .navbar-img {
    display: flex;
    gap: 5rem;
  }
  a {
    background-color: transparent;
    text-decoration: none;
    border-style: none;
    font-size: 1.25rem;    
  }
  a {
    img {
      height: 2.5rem;
    }
  }
}

.navbar-text-fade {
  animation: subtitle-fade-in 10s;
}

.img-bounce-1 {
  animation: navbar-img-bounce 5s;
}

.img-bounce-2 {
  animation: navbar-img-bounce 6s;
}

.img-bounce-3 {
  animation: navbar-img-bounce 7s;
}

@keyframes navbar-img-bounce {
  0% { transform: translateY(-20em); }
  1% { transform: translateY(-20em); }
  50% {transform: translateY(-20em); }
  60%, 80%, 100% { transform: translateY(0); } 
}

.title{
  grid-area: title;
  gap: 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-greeting {
  display: inline-block;
  margin-top: 0.2rem;
  font-size: 4rem;
  width: 300px;
}

.title-greeting-fade-in {
  animation: title-fade-in 3s;
}

.subtitle {
  width: 70%;
  font-size: 1.5rem;
}

.subtitle-fade-in {
  animation: subtitle-fade-in 4s;
}

@keyframes title-fade-in {
  0%    { opacity: 0; }
  100%  { opacity: 1; }
}

@keyframes subtitle-fade-in {
  0%    { opacity: 0; }
  20%    { opacity: 0; }
  40%    { opacity: 0; }
  100%  { opacity: 1; }
}

.home-skills{
  grid-area: home-skills;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.skills-h1-fade-in {
  animation: skills-fade-in 10s;
}

@keyframes skills-fade-in {
  0%    { opacity: 0; }
  20%    { opacity: 0; }
  40%    { opacity: 0; }
  50%     { opacity: 0 }
  60%     { opacity: 0.9 }
  65%    { opacity: 1 }
}

.home-skills > p {
  margin-top: 1rem;
  font-size: 2rem;
}

.home-skill {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
  padding: 0.5em;
  border: 1px solid #373737;
  border-radius: 1em;
  width: 60%;
  font-weight: 500;
  box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.75);

  p {
    width: 15%;
  }

  img {
    height: 1.2rem;
  }
}

@keyframes homeskill-left-center {
  0% { transform: translateX(-25em); }
  1% { transform: translateX(-25em); }
  50% { transform: translateX(-25em); }
  55% { transform: translatex(0); } 
}

.react {
  background-color: #61DBFB;
}

.javascript {
  background-color: #f7df1e;
}

.sass {
  background-color: #cc499c;
}

.api {
  background-color: #44CF6C;
}

.testing {
  background-color: #FBC2B5;
}

.left-center-react {
  animation: homeskill-left-center 12s
}

.left-center-javascript {
  animation: homeskill-left-center 14s
}

.left-center-sass {
  animation: homeskill-left-center 16s
}

.left-center-api {
  animation: homeskill-left-center 18s
}

.left-center-testing {
  animation: homeskill-left-center 20s
}

.home-projects{
  grid-area: home-projects;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;

  .projects-subtitle {
    margin-top: 2.5rem;
  }
}

.home-projects-fade-in {
  animation: skills-fade-in 24s;
}

.blaze-slider {
  margin-top: 1rem;
  width: 100vw;

  .blaze-track-container {
    text-align: center;
  }
}

.slide {
  width: 5em;

  img {
    margin-bottom: 1rem;
    width: 20em;
    height: 10em;
    border-radius: 1em;
  }

  p {
    font-weight: 400;
  }
}

.projects-invitation {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 80%;
  font-size: 1.2rem;
  text-align: center;
}

.home-projects-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  grid-area: footer;
  margin-top: 3em;
  margin-bottom: 2em;
  text-align: center;
}

.footer-fade-in {
  animation: skills-fade-in 26s;
}

@media (min-width: 700px) {

  .title-greeting {
    text-align: center;
  }

  .subtitle {
    padding: 0 5rem;
    text-align: center;
  }

  @keyframes homeskill-left-center {
    0% { transform: translateX(-110em); }
    1% { transform: translateX(-110em); }
    50% { transform: translateX(-110em); }
    55% { transform: translatex(0); } 
  }

  .projects-disclaimer {
    padding: 0 6rem;
    text-align: center;
  }

  .project-info {
    padding: 0 5rem;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  
  .navbar-text {
    gap: 10rem !important;
    
    a {
      font-size: 3rem;
    }
  }

  .navbar-img {
    margin-top: 1rem;
    gap: 9rem !important;

    img {
      width: 5rem;
      height: 5rem;
    }
  }

  .home-skill > p {
    font-size: 2rem;
  }

  .home-skill > img {
    height: 2rem;
    width: 2rem;
  }

  .title-greeting {
    font-size: 7rem;
    width: fit-content;
    margin: 2rem 0;
  }

  .home-skills-projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    .home-skills {
      width: 50%;
    }

    .home-projects {
      width: 50%;
    }

    .blaze-slider {
      width: 70%;
    }

    .blaze-track > * {
      width: 100%;
    }
  }

  .home-skills {
    margin: 2rem 0;
  }

  .projects-header {
    font-size: 4rem !important;
  }

  .projects-disclaimer {
    font-size: 1.3rem !important;
    margin-bottom: 3rem !important;
  }

  .project-group {
    margin: 0 5rem;
    padding: 0 5rem !important;
    width: 70rem;
  }

  .project {
    width: 100%;
    padding: 0 2rem;
  }

  .slide img {
    width: 30rem !important;
    height: 20rem !important;
  }

  .slide p {
    font-size: 1.4rem;
  }
}